:root {
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    --Transparent-white-paragraphs: hsla(0, 0%, 100%, 0.75);
    --Very-light-gray-background-headings-buttons: hsl(0, 0%, 95%);

    --ff-title-bolder: 'Big Shoulders Display', cursive;
    --ff-passage-medium: 'Lexend Deca', sans-serif;

    --fw-bold: 400;
    --fw-bolder: 700;

    --fs-medium: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--Very-light-gray-background-headings-buttons);
    min-height: 100vh;
    font-size: var(--fs-medium);
}
.card {
    min-height: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 40px 20px;
    border-radius: 8px;
    overflow: hidden;
}

.sub-card {
    padding: 35px 35px 60px;
    max-width: 335px;
    height: 450px;
}

.gap {
    margin: 20px;
}

.car-type {
    color: var(--Very-light-gray-background-headings-buttons);
    font-family: var(--ff-title-bolder);
    text-transform: uppercase;
    font-size: 2.5rem;
}

.car-info {
    color: var(--Transparent-white-paragraphs);
    font-family: var(--ff-passage-medium);
    line-height: 25px;
    margin-bottom: 45px;
}

.learn-more {
    font-family: var(--ff-passage-medium);
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 40px;
    background-color:var(--Very-light-gray-background-headings-buttons);
    color: inherit;
    mix-blend-mode: screen;
}

.learn-more:hover {
    color: var(--Very-light-gray-background-headings-buttons);
    border: 2px solid var(--Very-light-gray-background-headings-buttons);
    background: transparent;
    cursor: pointer;
}

.sedan {
    background-color: var(--Bright-orange);
}

.suv {
    background-color: var(--Dark-cyan);
}

.luxury {
    background-color: var(--Very-dark-cyan);
}

@media (min-width: 500px) {

    .card {
        margin: 0 0;
    }

    .sub-card {
        height: 490px;
        width: 320px;
        max-width: 320px;
        max-height: 600px;
    }

    .car-info {
        margin-bottom: 80px;
    }

    @media (min-width: 1001px) {
        .sedan {
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
        }
        .luxury {
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
        }
    }
}



/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */